:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #4C566A;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.big-button {
  width: 35%;
  height: 80px;
  font-size: 40px;
  background-color: #3B4252;
  border: #434C5E;
  position: relative;
  cursor: pointer;
}

.center_text {
  position: realtive;
  padding: 1em 0;
  margin: 0;
  text-align:center;
}

.button__progress {
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  transition: width 0.3s;
  border-radius: var(--bs-btn-border-radius);
}

.input-nord {
  background: #2E3440;
  color: rgb(222, 223, 225);
  border: rgb(61, 67, 77);
}

button.standard:disabled {
    color: #666;
}
